body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: "Exo 2";
    font-size: 0.75rem;
    font-weight: 400;
}

#container {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.topnav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    position: absolute;
    z-index: 10;
}

.topnav h2 {
    padding-left: 1em;
    padding-right: 1.5em;
    color: rgb(255, 255, 255);
}

.topnav a {
    padding: 1em;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.acknowledgements {
    z-index: 10;
    position: absolute;
    display: flex;
    color: rgb(255, 255, 255);
    bottom: 0;
    right: 1em;
}

.acknowledgements h2 {
    font-size: small;
}

.acknowledgements a {
    /* padding-left: 0.25rem; */
    color: white;
    text-decoration: none;
}

.acknowledgements ul {
    list-style-type: none;
}